<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zskx.pemsystem"
    android:installLocation="preferExternal"
    android:versionCode="2"
    android:versionName="PEM1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	   <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	   <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	   <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	   <uses-permission android:name="android.permission.CALL_PHONE" />
	   <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	   
    <application
        android:name=".BMapApiDemoApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar"
        android:screenOrientation="portrait"
         >
        <activity
            android:name=".FlashScreenActivity"
            android:label="@string/title_activity_main" 
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            >
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_main" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FlashPlay_Activity" 
            android:label="@string/title_psycho_train" />
        <activity android:name=".HomeActivity" 
            android:label="@string/title_psycho_train" />
        <activity android:name=".Music_Activity" 
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ReportListActivity" />
        <activity
            android:name=".ReportDetailsActivity"
             >
        </activity>
        <activity android:name=".MusicTypeChildActivity" 
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MagazineActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MagazineShowActivity"
            android:label="@string/magazineShow"
            >
        </activity>
        <activity
            android:name=".MoviePlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name=".MovieTypeActivity" >
        </activity>
        <activity android:name=".MovieItemsActivity" >
        </activity>
        <activity
            android:name=".ModifyInfoActivity"
            android:label="@string/modify_info" />
        <activity
            android:name=".FeedBackActivity"
            android:label="@string/info_feedback"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ModifyPasswordActivity"
            android:label="@string/modify_password" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_settings" />
        <activity
            android:name=".VideoPalyerActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:label="Player">
        </activity>
        <activity
            android:name=".VideoPlayerMP4"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:label="Player">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="about" />
        <activity
            android:name=".HelpActivity"
            android:label="help" />
        <activity 
            android:name=".PsychoTestActivity"
            android:label="test"  
            android:screenOrientation="portrait"/>
        <activity 
            android:name=".PsychoTestDoActivity"
            android:label="dotest"  
            android:screenOrientation="portrait"/>
        <activity 
            android:name=".ConsultActivity"
            android:label="consult_list"  
            android:screenOrientation="portrait"/>
        <activity 
            android:name="com.zskx.pemsystem.ChannelListActivity"
            android:label="hospital_list"  
            android:screenOrientation="portrait"/>
        <activity 
            android:name=".ChannelHospitalDetails"
            android:label="hospital_detail"  
            android:screenOrientation="portrait"/>
        <activity 
            android:name=".ChannelMAPActivity"
            android:label="map_view"  
            android:screenOrientation="portrait"/>
        
    </application>

</manifest>